<div class="header-wrapper">
    <!-- Avatar: -->
    <img
        src="./assets/img/default-avatar.png"
        alt="avatar"
    >
    <!-- src="../../../assets/img/default-avatar.png" -->
    <!-- User Name: -->
    <span
        class="username-text"
        *ngIf="!isCollapsed"
    >
        {{ username }}
    </span>
    <!-- TODO: Buttons: -->
    <div
        class="floating-btn header-btn"
        *ngIf="!isCollapsed"
    >
        <i class="anticon anticon-setting"></i>
    </div>
    <div
        class="floating-btn header-btn"
        *ngIf="!isCollapsed"
    >
        <i class="anticon anticon-calendar"></i>
    </div>
</div>

<div class="list-wrapper">
    <app-todo-lists [isCollapsed]="isCollapsed"></app-todo-lists>
    <div class="add-list-btn-wrapper">
        <button
            nz-button
            nzGhost
            nzType="dashed"
            (click)="openAddListModal()"
        >
            <i class="anticon anticon-plus"></i>
            <span *ngIf="!isCollapsed">新列表</span>
        </button>
    </div>
</div>
