<!-- TODO: 为什么需要判断长度？ -->
<!-- TODO: horizontal VS vertical ? -->
<nz-list
    *ngIf="todos.length > 0"
    [nzDataSource]="todos"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
>
    <!-- ImoNote:
        1. `let-*`：见文档 https://angular.io/guide/structural-directives
        2. 关于 `$implicit`：是 context object 的一个属性，当 let-* 未指定值的时候，默认使用该属性值
        （详见 https://angular.io/guide/structural-directives#microsyntax）
        3. 这里的 let-item 叫什么比较随意，template 内外保持一致就行：
        比如说可以叫 let-whatever，只要 template 内部使用的时候也叫 whatever 就行 -->
    <ng-template
        #item
        let-item
    >
        <nz-list-item
            class="todo-item"
            (click)="select(item._id)"
            (contextmenu)="onContextMenu($event, todoContextTemplate, item._id)"
        >
            <!-- ImoNote: 
                这里的 `[nzRenderItem]="item"` 和 `[nzTitle]="nzTitle"` 使用的是模板引用值 -->
            <nz-list-item-meta
                [nzTitle]="nzTitle"
                [nzDescription]="nzDescription"
            >
                <ng-template #nzTitle>
                    <!-- TODO: nz-sth 和 nzSth 两种命名是在区分什么？ 
                        前者一般单独使用，后者一般需要传值？？？ -->
                    <!-- TODO: $event.stopPropagation() 有什么作用？ -->
                    <label
                        nz-checkbox
                        (click)="$event.stopPropagation()"
                        [(ngModel)]="item.completedFlag"
                        (ngModelChange)="toggle(item._id)"
                    ></label>
                    <span [class.strikethrough]="item.completedFlag">{{ item.title }}</span>
                </ng-template>
                <ng-template #nzDescription>
                    <span
                        *ngIf="item.dueAt"
                        class="todo-desc"
                    >
                        <i class="anticon anticon-calendar"></i>
                        {{ item.dueAt | date }}
                    </span>
                    <span
                        *ngIf="item.planAt"
                        class="todo-desc"
                    >
                        <i class="anticon anticon-clock-circle-o"></i>
                        {{ item.planAt | date }}
                    </span>
                    <span
                        *ngIf="item.notifyMe"
                        class="todo-desc"
                    >
                        <i class="anticon anticon-bell"></i>
                    </span>
                    <span *ngIf="item.desc">
                        <i class="anticon anticon-edit"></i>
                    </span>
                </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
    </ng-template>
</nz-list>

<ng-template #todoContextTemplate>
    <!-- TODO: 这次又没有 nzSelectable 了。。我觉得可以说明并不必要 @todo-list.component -->
    <ul
        nz-menu
        nzInDropDown
        (nzClick)="closeContextMenu()"
    >
        <li
            nz-menu-item
            (click)="setToday()"
        >
            <i class="anticon anticon-home anticon-right-margin"></i>
            <span>设为今天</span>
        </li>
        <li nz-submenu>
            <span title>
                <i class="anticon anticon-bars anticon-right-margin"></i>
                移动到...
            </span>
            <ul>
                <li
                    nz-menu-item
                    *ngIf="currentContextTodo?.listUUID !== 'todo'"
                    (click)="moveToList('todo')"
                >
                    默认列表
                </li>
                <li
                    nz-menu-item
                    *ngFor="let list of listsExcept(currentContextTodo.listUUID)"
                    (click)="moveToList(list._id)"
                >
                    {{ list.title }}
                </li>
            </ul>
        </li>
        <li nz-menu-divider></li>
        <li
            nz-menu-item
            (click)="delete()"
        >
            <i class="anticon anticon-delete anticon-right-margin danger"></i>
            <span class="danger">删除</span>
        </li>
    </ul>
</ng-template>
